
<div>
   <img src="{{this.author_id.profilePic}}" alt="author_pic">
  <h3>Reviewed by: {{this.author_id.firstName}}</h3>
</div>
<p>Review: {{this.text}}</p>
<div>
  <p>Rate: {{this.rate}}</p>
  <p>Shopping budget: {{this.averageCart}}€</p>
</div>
