<div class="form visitor-profile">
  <h1>MY PROFILE</h1>
  <div id="user-profile">
    <img class="profile-pic" src="{{user.profilePic}}">
    <p class="field">Firstname : <span>{{user.firstName}}</span></p>
    <p class="field">Lastname : <span>{{user.lastName}}</span></p>
    <p class="field">Username : <span>{{user.userName}}</span></p>
    <p class="field">Email : <span>{{user.email}}</span></p>
    <div id="btn"><a href="/edit/{{user.id}}" class="btn primary">Edit</button>
        <a href="/user/{{user.id}}/delete" class="btn primary">Delete</a></div>
  </div>
  <form action="/logout" class="logout" method="POST">
    <button class="btn secondary">Logout</button>
  </form>
</div>