<div class="form visitor-profile">
  <h1>MY PROFILE</h1>
  <form action='/edit/{{user.id}}' method="POST" enctype="multipart/form-data" id="createAccountForm">
    <div id="user-form">
      <label class="field">Firstname *<input type='text' name="firstName" value="{{user.firstName}}" disabled></label>
      <label class="field">Lastname *<input type='text' name="lastName" value="{{user.lastName}}" disabled></label>
      <label class="field">Username *<input type='text' name="userName" value="{{user.userName}}" disabled></label>
      <label class="field">Email *<input type='email' name="email" value="{{user.email}}" disabled></label>
      <label class="field">Password *<input type='text' name="password" value="{{user.password}}" disabled></label>
      <label class="field">Profile picture<input type="file" name="profilePic" class="upload" /></label>
    </div>
    <div id="btn"><button class="btn primary">Edit</button>
      <a href="/user/{{user.id}}/delete" class="btn secondary">Delete</a></div>
    <p class="mandatory">* ALL FIELDS ARE MANDATORY</p>
  </form>

  {{#if errorMessage}}
  <p class="error-message">{{errorMessage}}</p>
  {{/if}}
</div>